<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <!-- navbar -->
    <div class="container">
        <h3 class="nav1" id='weather-msg'>Weather</h3>
        <div class='nav-img'>
            <img class='chick' src="/static/chick.png" alt="">
            <h1 class="nav2">To Do List</h1>
            <img class='chick' src="/static/chick.png" alt="">
        </div>
        <h3 class="nav3" id='seoul-date'>Date</h3>
    </div>
    <!-- main -->
    {% for todo in data %}
    <div class="input-container">
        <div class="block">
            <!-- 오늘의 할일 -->
            <div class='main-msg'>
                <h3>{{ todo.date }}
                    {{ todo.todo }}
                </h3>
            </div>

            <!-- 체크박스 -->
            <div class="checkbox-delete-container">
                <input type="checkbox" onchange="updateCompletedStatus(this, '{{ todo.id }}')">
                <!-- 수정툴(수정버튼 누름 > 수정툴 출력)-->
                <form action="{{ url_for('edit_todo') }}" method="POST" id="edit-form-{{ todo.id }}" style="display: none;">
                    <!--수정 버튼을 누르기 전까진 아래요소들을 안보여줌-->
                        <input type="text" name="new_todo" value="{{ todo.todo }}">
                        <input type="date" name="new_date" value="{{ todo.date }}">
                        <input type="hidden" name="todo_id" value="{{ todo.id }}">
                        <button type="submit">수정 완료</button>
                    </form>
                <!-- 삭제버튼 -->
                <form action="{{ url_for('todo_delete') }}" method="POST">
                    <input type="hidden" name="todo_id" value="{{todo.id}}">
                    <button type="submit">삭제</button>
                </form>
            </div>

        </div>
    </div>
    {% endfor %}

    <form action="{{url_for('todo_create')}}" method="POST">
        <div class="footer">
            <input class="list" type="date" name="date">
            <input class="list" type="text" name="todo" placeholder="오늘의 할 일을 적어주세요!">
            <button type="submit">기록하기</button>
        </div>
    </form>

    <script>
        // ajax사용해서 화면전환없이 데이터 전송
        function updateCompletedStatus(checkbox, todoId) {
            let isChecked = checkbox.checked;
            $.ajax({
                type: "POST",
                url: "/update_todo_status",
                data: { id: todoId, isChecked: isChecked }
            });
        }
        
        // 수정툴에 입력된 요소들 출력하는 함수(화면에 보이게 하는 함수)
        function showEditForm(todoId) {
            document.getElementById('edit-form-' + todoId).style.display = 'block'; //"edit-form-"과 todoId 가 다 있는 요소 = 수정툴
        }

        let weather_url = "http://spartacodingclub.shop/sparta_api/weather/seoul";
        fetch(weather_url)
            .then(res => res.json())
            .then(data => {
                // console.log(data);
                let temp = data['temp']
                let message = `오늘 날씨는 ${temp}ºC`
                $('#weather-msg').text(message)
            })

        let time_url = "https://worldtimeapi.org/api/timezone/Asia/Seoul"
        fetch(time_url)
            .then(res => res.json())
            .then(data => {
                let datetime = data['datetime'].split('T')[0];
                let time2 = `오늘 날짜는 ${datetime}`
                $('#seoul-date').text(time2)
            })
    </script>
</body>

</html>